/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

/* Fundo metade verde, metade branco */
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #02772b 30%, #f2e205 90%);
}

/* Container do login */
.login-container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    position: relative;
    z-index: 1;
}

/* Caixa do login */
.login-box {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Logo */
.logo img {
    width: 50px;
    margin-bottom: 10px;
}

.logo h1 {
    font-size: 1.8rem;
    color: #004D40;
    font-weight: 700;
}

/* Título */
h2 {
    margin: 1rem 0;
    color: #1c472b;
}

/* Campos de entrada */
.input-group {
    margin-bottom: 1rem;
    text-align: left;
}

.input-group label {
    display: block;
    font-size: 0.9rem;
    font-weight: bold;
    color: #365942;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 2px solid #365942;
    border-radius: 5px;
    font-size: 1rem;
    transition: 0.3s;
}

.input-group input:focus {
    border-color: #F2A341;
    outline: none;
}

/* Botão de login */
.btn-primary {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.btn-primary:hover {
    background-color: #2a4a34;
}

/* Link para cadastro */
.register-link {
    margin-top: 1rem;
    font-size: 0.9rem;
}

.register-link a {
    color: #F2A341;
    text-decoration: none;
    font-weight: bold;
}

.register-link a:hover {
    text-decoration: underline;
}
